@media(max-width:430px) {


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url(./img/57166.webp);
        background-repeat: no-repeat;
        background-size: 100% 90%;
        height: 100vh;
        margin: 0rem;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .men_haqimda {
        /* width: 80%; */
        /* height: 80%; */
        border: none;
        z-index: 10;
        transition: none;
    }





    .men_haqimda .sahifalarim {
        margin-left: 30px;
    }

    .men_haqimda .sahifalarim div {
        display: flex;
        align-items: center;
    }

    .men_haqimda .sahifalarim img {
        width: 40px;
        height: 40px;
    }


    #blob {
        background-color: black;
        height: 0;
        
      }



    #blur {
        height: 0;
        width: 0;
      }



    h1 {
        font-family: 'Space Mono', monospace;
        /* font-size: clamp(3rem, 10vw, 10rem); */
        font-size: 50px;
        color: white;
        white-space: nowrap;
        padding: 0rem clamp(1rem, 2vw, 3rem);
        border-radius: clamp(0.4rem, 0.75vw, 1rem);
        margin: 0rem;
        z-index: 3;
    }




    .instagram {
        font-family: 'Space Mono', monospace;
        /* font-size: clamp(3rem, 10vw, 10rem); */
        font-size: 20px;
        color: white;
        white-space: nowrap;
        padding: 0rem clamp(1rem, 2vw, 3rem);
        border-radius: clamp(0.4rem, 0.75vw, 1rem);
        margin: 0rem;
        z-index: 3;
        transition: 0.5s;
    }

    .instagram:hover {
        font-size: 45px;
        transition: 0.5s;
    }



    .telegram {
        font-family: 'Space Mono', monospace;
        /* font-size: clamp(3rem, 10vw, 10rem); */
        font-size: 20px;
        color: white;
        white-space: nowrap;
        padding: 0rem clamp(1rem, 2vw, 3rem);
        border-radius: clamp(0.4rem, 0.75vw, 1rem);
        margin: 0rem;
        z-index: 3;
        transition: 0.5s;
    }

    .telegram:hover {
        font-size: 45px;
        transition: 0.5s;
    }



    .youtube {
        font-family: 'Space Mono', monospace;
        /* font-size: clamp(3rem, 10vw, 10rem); */
        font-size: 20px;
        color: white;
        white-space: nowrap;
        padding: 0rem clamp(1rem, 2vw, 3rem);
        border-radius: clamp(0.4rem, 0.75vw, 1rem);
        margin: 0rem;
        z-index: 3;
        transition: 0.5s;
    }

    .youtube:hover {
        font-size: 45px;
        transition: 0.5s;
    }



    .github {
        font-family: 'Space Mono', monospace;
        /* font-size: clamp(3rem, 10vw, 10rem); */
        font-size: 20px;
        color: white;
        white-space: nowrap;
        padding: 0rem clamp(1rem, 2vw, 3rem);
        border-radius: clamp(0.4rem, 0.75vw, 1rem);
        margin: 0rem;
        z-index: 3;
        transition: 0.5s;
    }

    .github:hover {
        font-size: 45px;
        transition: 0.5s;
    }






}